#headertown {
    color: white; 
    font-family: 'Bungee Shade', cursive;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/07/22/39/cloud-2608708_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 10px 10px 10px #000000;
    box-shadow: 10px 10px 10px #000000;

}

#secondaryHeader {

    font-family: 'Coda', cursive;
    color: black;
    font-size: 30px;
    text-shadow: 0px 0px 0px #000000;
    margin-top: 20px;
}

#wrapper {
    height: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    background-image: url(https://image.freepik.com/free-photo/soff-focus-green-leaf-texture-nature-background_27109-358.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#buttonbox {

    height: auto;
    color: white; 
    text-align: center;
    background-image: url(https://image.freepik.com/free-vector/dark-blue-watercolor-background-design_1034-737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 10px 10px 10px #000000;


}

#buttonbox1 {
    
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
}

#buttonPopBox {

    color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}

#keywordbutt {
    color: black;
    border-style: solid;
    border-radius: 2px;
    border-color: black;

}

#keysubmit {
    color: black;
    background-color: navy;
    border-style: solid;
    border-radius: 2px;
    border-color: black;


}

#giphGallery {

    color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-around;



}

